{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="ISO-8859-1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Simplicity</title>
	<link href="{% static 'css/simplicity.css' %}" rel="stylesheet"/>
	<link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet"/>
	<link href="{% static 'bootstrap-wizard/css/prettify.css' %}" rel="stylesheet"/>
	<link href="{% static 'bootstrap-datepicker/css/datepicker.css' %}" rel="stylesheet"/>
	<link href="{% static 'bootstrap-datepicker/css/datepicker3.css' %}" rel="stylesheet"/>
	
	<script src="{% static 'jquery/jquery-1.11.1.min.js' %}"></script>
	<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'bootstrap-wizard/js/jquery.bootstrap.wizard.js' %}"></script>
	<script src="{% static 'bootstrap-datepicker/js/bootstrap-datepicker.js' %}"></script>
	<script src="{% static 'bootstrap-datepicker/js/locales/bootstrap-datepicker.es.js' %}"></script>
	<script src="{% static 'jquery-validations/js/jquery.validate.js' %}"></script>
	<script src="{% static 'jquery-validations/js/additional-methods.min.js' %}"></script>
	<script src="{% static 'jquery-validations/js/localization/messages_es.min.js' %}"></script>
	<script src="{% static 'bootbox/js/bootbox.min.js' %}"></script>
	
	{% block javascript %}
    {% endblock %}
  
</head>
<body>
	<nav class="navbar navbar-default" role="navigation">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <a class="navbar-brand" href="#">Simplicity</a>
	    </div>
	
	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav navbar-right">
	        
	        {% if user and not user.is_anonymous %}
		        <li class="dropdown">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{user.email}}<span class="caret"></span></a>
		          <ul class="dropdown-menu" role="menu">
		            <li><a href="#">Perfil de usuario</a></li>
		            <li><a href="{% url 'logout_auth' %}">Cerrar sesi&oacute;n</a></li>
		          </ul>
		        </li>
	        {% else %}
	        	<li><a href="{% url 'signup' %}">Registrarse</a></li>
	        {% endif %}
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>
	<section class="page-title">
		<div class="container-fluid">
			{% block title_section %}
			{% endblock %}
		</div>
	</section>
	<div class="container-fluid">
	<div class="row">
	  <div class="col-md-12">
		  {% block section_option %}
		  {% endblock %}
	  </div>
	</div>
	<div class="row">
	{% if user and not user.is_anonymous %}
	  <div class="col-md-10">
	{% else %}
	  <div class="col-md-12">
	{% endif %}
		  {% block content %}
		  {% endblock %}
	  </div>
	  
	{% if user and not user.is_anonymous %}
	  <div class="col-md-2">
	  	  {% block section_statistics %}
		  {% endblock %}
		  <div class="panel panel-primary">
			<div class="panel-heading">
	        	 <h3 class="panel-title">Estad&iacute;sticos Simplicity</h3>

	    	</div>
	    	<div class="panel-body">Panel content</div>
		</div>
	  </div>
	{% endif %}
	</div>
	</div>
				
</body>
</html>
