{% extends "shared/base_generic.html" %}
{% load static %}
{% block javascript %}
<script src="{% static 'js/home/index.js' %}" type="text/javascript"></script>
{% endblock %} 
{% block section_option%}
<div class="title-module">
	{% if user and not user.is_anonymous%}

	<div class="row">
		<div class="col-md-12 col-md-offset-4">
			<h4><small>Bienvenido</small> {{user.get_full_name}}  <small>a Simplicity</small></h4>
		</div>
	</div>

	<!-- <div class="row">

		<div class="col-md-5 col-xs-2">

			<ul class="nav nav-pills-sm nav-justified">
			  <li class="active"><a href="#">Archivo</a></li>
			  <li><a href="#">Editar</a></li>
			  <li><a href="#">Vista</a></li>
			  <li><a href="#">Administraci&oacute;n</a></li>
			</ul>
		</div>
	</div> -->
	{% else %}
		
	{% endif %}
</div>
{% endblock %}

{% block content %}

<div class="row">
	<div class="col-md-2">
		<div class="panel panel-primary">
			<div class="panel-heading" data-content="Funcionalidad que permite la creaci&aacute;n de casos de prueba independiente del tipo de prueba."
							data-trigger="hover">
				<h3 class="panel-title">An&aacute;lisis</h3>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-xs-12 col-md-12">
						<a href="testcases" class="thumbnail"> <img src="{% static "img/Casos de Prueba.png" %}" alt="..." data-toggle="popover"
							data-content=""
							data-trigger="hover">
						</a>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-md-12">
						<a href="#" class="thumbnail"> <img src="{% static "img/Otro.png" %}"  alt="..." data-toggle="popover"
							data-content=""
							data-trigger="hover">
						</a>
					</div>	
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-2">
		<div class="panel panel-primary">
			<div class="panel-heading"  data-content="El dise&ntilde;o de requisitos es la etapa para el dise&ntilde;o de pruebas.
				Se pueden crear los escenarios que ser&aacute;n asociados a un proyecto espec&iacute;fico."
							data-trigger="hover">
				<h3 class="panel-title">Dise&ntilde;o</h3>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-xs-12 col-md-12">
						<a href="#" class="thumbnail"> <img src="{% static "img/Escenarios de Prueba.png" %}" alt="..." data-toggle="popover"
							data-content=""
							data-trigger="hover">
						</a>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-md-12">
						<a href="#" class="thumbnail"> <img src="{% static "img/Otro.png" %}"  alt="..." data-toggle="popover"
							data-content=""
							data-trigger="hover">
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-2">
		<div class="panel panel-primary">
			<div class="panel-heading"  data-content="El dise&ntilde;o de requisitos es la etapa para el dise&ntilde;o de pruebas.
				Se pueden crear los escenarios que ser&aacute;n asociados a un proyecto espec&iacute;fico."
							data-trigger="hover">
				<h3 class="panel-title">Ejecuci&oacute;n</h3>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-xs-12 col-md-12">
						<a href="#" class="thumbnail"> <img src="{% static "img/Escenarios de Prueba.png" %}" alt="..." data-toggle="popover"
							data-content=""
							data-trigger="hover">
						</a>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-md-12">
						<a href="#" class="thumbnail"> <img src="{% static "img/Casos de Prueba.png" %}"  alt="..." data-toggle="popover"
							data-content=""
							data-trigger="hover">
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-2">
		<div class="panel panel-primary">
			<div class="panel-heading" data-content="Sistema para Verificaci&oacute;n y Validaci&oacute;n de procesos."
							data-trigger="hover">
				<h3 class="panel-title">Sistema AneMo</h3>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-xs-12 col-md-12">
						<a href="#" class="thumbnail"> <img src="{% static "img/Inspeccionar.png" %}" alt="..." data-toggle="popover"
							data-content=""
							data-trigger="hover">
						</a>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-md-12">
						<a href="#" class="thumbnail"> <img src="{% static "img/Revisar.png" %}"  alt="..." data-toggle="popover"
							data-content=""
							data-trigger="hover">
						</a>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-md-12">
						<a href="#" class="thumbnail"> <img src="{% static "img/Administrar.png" %}"  alt="..." data-toggle="popover"
							data-content=""
							data-trigger="hover">
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block section_statistics %}
{% endblock %}