.form-group-large {
	width: 100% !important;
}

.form-control-large {
	width: 88% !important;
}

.title-module {
	text-align: center;
	font-size: 2em;
	font-style: normal;
	width: 100%;
}

.margin-containers {
	margin-top: 20px;
	margin-bottom: 20px;
}

.page-title {
	background: #ffffff;
	color: #5e5e5e;
	margin-bottom: 20px;
	margin-top: -20px;
}

.page-title h1 {
	display: block;
	font-size: 16px;
	font-weight: 400;
	line-height: 30px;
	text-transform: uppercase;
}

.nav-pills li {
	height: 32px;
}

.search-results-scroll {
	height: 200px;
	overflow-y: scroll;
}

.wizard-card-container {
	margin-left: 28%;
	height: 300px;
	overflow-y: scroll;
}

.td-hidden {
	visibility: hidden;
}

.div-hidden {
	visibility: hidden;
}

.div-visible {
	visibility: visible;
}

.div-center {
	display: block;
	text-align: center;
}

.div-center div {
	margin-top: 7%;
	display: inline-block;
}

.error {
	color: #a94442;
}

.padding-20 {
	padding: 20px;
}

.bodycontainer { 
	max-height: 200px; 
	width: 100%; 
	margin: 0; 
	overflow-y: auto; 
}
.table-scrollable { 
	margin: 0; 
	padding: 0; 
}

/* */

nav.navbar{
	background:#000 !important;
}

.btn-center{
	padding: 0;
	text-align:center;
	float:none;
	margin: 0 auto !important;
}
.btn-center ul,.btn-center li,.row ul, .row li{
	list-style:none;
}

.btn-center .btn{
	margin:1em 0;
	clear:both;
}

.btn-group-vertical{
	display:block;
}


