{% if businessrules.count > 0 %}

{% for businessrule in businessrules %}
<tr>
<td><input type='checkbox' name='businessrule_checkbox' value='{{ businessrule.object.business_rule_id }}'></td>   
<td>{{ businessrule.object.name }}</td>   
<td>{{ businessrule.object.description }}</td> 
<input type='hidden' name="businessRuleIdRetrieved" value='{{ businessrule.object.business_rule_id }}'></input>
<input type='hidden' name="businessRuleNameRetrieved" value='{{ businessrule.object.name }}'></input>
<input type='hidden' name="businessRuleDescriptionRetrieved" value='{{ businessrule.object.description }}'></input>
</tr>
{% endfor %}

{% else %}
<tr>
<td>No hay resultados</td>
</tr>
{% endif %}