{% if requirements.count > 0 %}

{% for requirement in requirements %}
<tr>
<td><input type='checkbox' name='precondition_checkbox' value=''></td>   
<td>{{ requirement.object.title }}</td>   
<input type='hidden' id="requirement_id" value='{{ requirement.object.requirement_id }}'></input>
<input type='hidden' id="requirement_code" value='{{ requirement.object.code }}'></input>
<input type='hidden' id="requirement_title" value='{{ requirement.object.title }}'></input>    
</tr>
{% endfor %}

{% else %}
<tr>
<td>No hay resultados</td>
</tr>
{% endif %}