{% extends "shared/base_generic.html" %}
{% block section_statistics %}
	<a href="sync"> <input type="button" name="sync-projects" class="btn btn-default" value="Sincronizar" /> </a>
{% endblock %}
{% block content %}
<div class="title-module">
	Projectos en Jira 
</div>
<table class="table table-bordered table-hover">
	<tr>
		<th>Titulo</th>
	</tr>
	
	{% for project in projects %}
		<tr>
	    	<td>{{ project.name }}</td> 
	    </tr>
	{% empty %}
	    <h3>No hay proyectos.</h3>
	{% endfor %}
</table>
{% endblock %}