{% extends "requirement_form_base.html" %}
{% block javascript %}
		<script src="requirements/js/addrows.js"></script>	
    {% endblock %}
    
{% block form_requirement %}

	<div class="container">
		<div class="row">
	    	<div class="col-md-6">
				<table id="tableInput" class="table table-bordered table-striped">
				    <thead>
				        <tr>
				        	<th></th>
				            <th>Entrada</th>
				            <th>Valor</th>
				        </tr>
				    </thead>
				    <tbody>
				    </tbody>
				</table>
			</div>
			<div class="col-md-6">
				<button id="addRowInput" class="btn btn-default" type="button">Agregar</button>
				<button class="btn btn-default">Eliminar</button>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6">
			    <table id="tableOutput" class="table table-bordered table-striped">
				    <thead>
				        <tr>
				        	<th></th>
				            <th>Salida</th>
				            <th>Valor</th>
				        </tr>
				    </thead>
				    <tbody>
				    </tbody>
				</table>
			</div>
			<div class="col-md-6">
				<button id="addRowOutput" class="btn btn-default" type="button">Agregar</button>
				<button class="btn btn-default">Eliminar</button>
			</div>
		</div>
	</div>
{% endblock %}