{% load static %}
{% block javascript %}
<script src="{% static 'requirements/js/addrows.js' %}" type="text/javascript"></script>
{% endblock %}
<div class="container">
		<div class="row">
	    	<div class="col-md-6">
				<table id="tableInput" class="table table-bordered table-striped">
				    <thead>
				        <tr>
				        	<th></th>
				            <th>Entrada</th>
				            <th>Valor</th>
				        </tr>
				    </thead>
				    <tbody id="input_table_body">
				    </tbody>
				</table>
			</div>
			<div class="col-md-6">
				<button id="addRowInput" class="btn btn-default" type="button">Agregar</button>
				<button id="deleteRowInput" class="btn btn-default" type="button">Eliminar</button>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6">
			    <table id="tableOutput" class="table table-bordered table-striped">
				    <thead>
				        <tr>
				        	<th></th>
				            <th>Salida</th>
				            <th>Valor</th>
				        </tr>
				    </thead>
				    <tbody id="output_table_body">
				    </tbody>
				</table>
			</div>
			<div class="col-md-6">
				<button id="addRowOutput" class="btn btn-default" type="button">Agregar</button>
				<button id="deleteRowOutput" class="btn btn-default" type="button">Eliminar</button>
			</div>
		</div>
	</div>