{% load static %} {% block javascript %}
<script src="{% static 'requirements/js/req_business_rule.js' %}"></script>
{% endblock %}
<div class="tab-pane">
	<div class="container">
		<div>
			<div id="search-results" class="pr-search-results">
				<label for="br">B&#250squeda:</label> <input type="text" id="br">
				<input type="button" id="search-business-rules-btn" value="Buscar" />
				<table id="businessruleResultTable"
					class="table table-bordered table-striped ">
					<thead>
						<tr>
							<th></th>
							<th>Nombre</th>
							<th>Descripci&#243n</th>
						</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-primary" id="add-business-rule-row-btn">Asociar
			Reglas de Negocio</button>
	</div>
</div>



<div class="container">
	<div class="row">
		<div class="col-md-6">
			<table class="table table-bordered table-striped"
				id="businessrulesTable" cellspacing="0" cellpadding="0">
				<thead>
					<tr>
						<th></th>
						<th>Nombre</th>
						<th>Descripci&#243n</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>
		<div class="col-md-6">
			<button id="delete-busines-rule-row-add" class="btn btn-default" type="button">Eliminar</button>
		</div>
	</div>
</div>