{% load static %}
{% block javascript %}
<script src="{% static 'requirements/js/req_precondition.js' %}"></script>
{% endblock %}
<table class="table table-bordered table-striped"
	id="preconditionTable" cellspacing="0" cellpadding="0">
	<thead>
		<tr>
			<th></th>
			<th>Precondici&#243n</th>
			<th>Descripci&#243n</th>
			<th>Tipo</th>
		</tr>
	</thead>
	<tbody>
	</tbody>
</table>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close"
					id="close-precondition-modal-btn">
					<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">Precondici&#243n</h4>
			</div>
			<div class="modal-body">
				<ul class="nav nav-tabs" role="tablist">
					<li class="active"><a href="#home" role="tab"
						data-toggle="tab">Agregar descripci&#243n</a></li>
					<li><a href="#profile" role="tab" data-toggle="tab">Asociar
							requisito</a></li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div class="tab-pane active" id="home">
						<form id="description-form" role="form">
							<p>Descripci&#243n de las precondiciones</p>
							<textarea class="form-control" rows="3" id="description_textarea" maxlength="4000" required></textarea>
							<div class="modal-footer">
								<button type="submit" class="btn btn-primary"
									id="add-description-row-btn">Registar Descripci&#243n</button>
							</div>
						</form>
					</div>
					<div class="tab-pane" id="profile">
						<form id="requirements-form" role="form">
							<div class="container">
								<div>
									<div id="search-results" 
										class="search-results-scroll col-sm-5">
										<label for="q">B&#250squeda requisito:</label>
										<input type="text" id="q"> 
										<input type="button"
											id="search-preconditions-btn" value="Buscar" />
										
											<table id="preconditionResultTable"
												class="table table-bordered table-striped ">
												<thead>
													<tr>
														<th></th>
														<th>C&#243digo</th>
													</tr>
												</thead>
												<tbody>
												</tbody>
											</table>
										
									</div>
								</div>
							</div>
							<div id="errors">
							</div>
							<div class="modal-footer">
								<button type="submit" class="btn btn-primary"
									id="add-requirement-row-btn">Registar Requisito</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<button class="btn btn-default" type="button" data-toggle="modal"
	data-target="#myModal">Agregar</button>
<button class="btn btn-default" type="button"
	id="delete-precondition-row-btn">Eliminar</button>
