{% extends "requirement_form_base.html" %}
{% block javascript %}
		<script src="requirements/js/criteria.js"></script>	
    {% endblock %}
    
{% block form_requirement %}
<div class="container">
		<div class="row">
	    	<div class="col-md-6">
				<table id="tableInput" class="table table-bordered table-striped">
				    <thead>
				        <tr>
				        	<th></th>
				            <th>Criterio</th>
				            <th>Descripci&#243n</th>
				        </tr>
				    </thead>
				    <tbody id="input_table_body">
				    </tbody>
				</table>
			</div>
			<div class="col-md-6">
				<button id="addRowInput" class="btn btn-default" type="button">Agregar</button>
				<button id="deleteRowInput" class="btn btn-default" type="button">Eliminar</button>
			</div>
		</div>
	</div>
{% endblock %}