{% load static %} {% block javascript %}
<script src="{% static 'requirements/js/req_business_rule.js' %}"></script>
{% endblock %}

<div class="modal fade" id="brModal" tabindex="-1" role="dialog"
	aria-labelledby="brModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close"
					id="close-precondition-modal-btn">
					<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
				</button>
				<h4 class="modal-title" id="brModalLabel">Regla de Negocio</h4>
			</div>
			<div class="modal-body">
				<div class="tab-pane active" id="home">
					<div class="tab-pane" id="profile">
						<div class="container">
							<div>
								<div id="search-results" class="search-results-scroll col-sm-5">
									<label for="br">B&#250squeda:</label> <input type="text"
										id="br"> <input type="button"
										id="search-business-rules-btn" value="Buscar" />
									<table id="businessruleResultTable"
										class="table table-bordered table-striped ">
										<thead>
											<tr>
												<th></th>
												<th>Nombre</th>
												<th>Descripci&#243n</th>
											</tr>
										</thead>
										<tbody>
										</tbody>
									</table>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-primary"
								id="add-business-rule-row-btn">Asociar Reglas de
								Negocio</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-6">
			<table class="table table-bordered table-striped"
				id="businessrulesTable" cellspacing="0" cellpadding="0">
				<thead>
					<tr>
						<th></th>
						<th>Nombre</th>
						<th>Descripci&#243n</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>

		<div class="col-md-6">
			
			<button class="btn btn-default" type="button" data-toggle="modal"
				data-target="#brModal">Agregar</button>
			
			<button id="delete-busines-rule-row-add" class="btn btn-default"
				type="button">Eliminar</button>
			
			<button class="btn btn-default" type="button" data-toggle="modal"
				data-target="#newRequirementModal">Crear Regla de Negocio</button>
		</div>
	</div>
</div>

<div class="modal fade" id="newRequirementModal" tabindex="-1" role="dialog"
	aria-labelledby="newRequirementModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close"
					id="close-precondition-modal-btn">
					<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
				</button>
				<h4 class="modal-title" id="newRequirementModalLabel">Creaci&#243n Regla de Negocio</h4>
			</div>
			<div class="modal-body">
				<div class="tab-pane active" id="home">
						<label for="newBusinessRuleTitle">Nombre</label>
						<input type="text" class="form-control" id="newBusinessRuleTitle" 
							name="newBusinessRuleTitle" placeholder="Introduce el título de la regla de negocio">
						<label for="newBusinessRuleCode">C&#243digo</label>
						<input type="text" class="form-control" id="newBusinessRuleCode" 
							name="newBusinessRuleCode" placeholder="Introduce el código del requisito"> 
						<label for="businessRulesType">Tipo</label>
						<select class="form-control" id="businessRulesType"
							name="businessRulesType">
							<option>Seleccione tipo de regla de negocio</option> 
							{% for type in br_type_list %}
							<option value='{{ type.type_id }}'>{{ type.name }}</option> 
							{% endfor %}
						</select>
						<label for="newBusinessRuleDescription">Descripci&#243n</label>
						<textarea class="form-control" rows="3" id="newBusinessRuleDescription" name="newBusinessRuleDescription"
      						placeholder="Introduce una descripción para tu regla de negocio"></textarea>
						<div class="modal-footer">
							<button type="button" class="btn btn-primary"
								id="add-br-row-btn">Registar</button>
						</div>
				</div>
			</div>
		</div>
	</div>
</div>