{% load static %}
{% block javascript %}
<script src="{% static 'requirements/js/criteria.js' %}"></script>
{% endblock %}

<div class="container">
		<div class="row">
	    	<div class="col-md-6">
				<table id="tableCriteria" class="table table-bordered table-striped">
				    <thead>
				        <tr>
				        	<th></th>
				            <th>Criterio</th>
				            <th>Descripci&#243n</th>
				        </tr>
				    </thead>
				    <tbody id="table_criteria_body">
				    </tbody>
				</table>
			</div>
			<div class="col-md-6">
				<button id="addRowCriteria" class="btn btn-default" type="button">Agregar</button>
				<button id="deleteRowCriteria" class="btn btn-default" type="button">Eliminar</button>
			</div>
		</div>
	</div>
