<div class="wizard-input-section">
  <div class="form-group">
    <div class="col-sm-6">
      <label for="requirement_title">Nombre</label>
      <input type="text" class="form-control" id="requirement_title" name="requirement_title" placeholder="Introduce el título del requisito" data-validate="validateName">
    </div>
  </div>
</div>

<div class="wizard-input-section">
  <div class="form-group">
    <div class="col-sm-6">
      <label for="requirement_code">Código</label>
      <input type="text" class="form-control" id="requirement_code" name="requirement_code" placeholder="Introduce el código del requisito" data-validate="">
    </div>
  </div>
</div>

<div class="wizard-input-section">
  <div class="form-group">
    <div class="col-sm-6">
      <label for="requirement_type">Tipo de Requisito</label>
      <input type="text" class="form-control" id="requirement_type" name="requirement_type"
      placeholder="Introduce el tipo de requisito" validate="">
    </div>
  </div>
</div>

<div class="wizard-input-section">
  <div class="form-group">
    <div class="col-sm-6">
      <label for="requirement_description">Definición de Requisito</label>
      <textarea class="form-control" rows="3" id="requirement_description" name="requirement_description"
      placeholder="Introduce una descripción para tu requisito" validate=""></textarea>
    </div>
  </div>
</div>

<div class="wizard-input-section">
  <div class="form-group">
    <div class="col-sm-6">
      <label for="requirement_description">Palabras Clave</label>
      <textarea class="form-control" rows="3" id="requirement_keywords" name="requirement_keywords"
      placeholder="Introduce palabras clave separadas por coma (,)" validate=""></textarea>
    </div>
  </div>
</div>
<input type="submit" value="Send requirement definition!">
