<div class="wizard-input-section">
  <div class="form-group">
    <div class="col-sm-6">
      <label for="requirementTitle">Nombre</label>
      <input type="text" class="form-control" id="requirementTitle" name="requirementTitle" placeholder="Introduce el título del requisito">
    </div>
  </div>
</div>

<!--  label>C&#243digo</label>
<div class="wizard-input-section">
  <div class="form-group">
    <div class="col-sm-6 input-group">
      <div class="input-group-addon">REQ - </div>
      <input type="text" class="form-control" id="requirementCode" name="requirementCode" placeholder="Introduce el código del requisito">
    </div>
  </div>
</div-->

<div class="wizard-input-section">
  <div class="form-group">
    <div class="col-sm-6">
      <label for="requirementType">Tipo de Requisito</label>
      <select class="form-control" id="requirementType" name="requirementType">
        <option>Seleccione tipo de requisito</option>
        {% for type in requirement_type_list %}
          <option value='{{ type.type_id }}'>
              {{ type.name }}
          </option>
		{% endfor %}
      </select>
    </div>
  </div>
</div>

<div class="wizard-input-section">
  <div class="form-group">
    <div class="col-sm-6">
      <label for="requirementDescription">Definici&#243n de Requisito</label>
      <textarea class="form-control" rows="3" id="requirementDescription" name="requirementDescription"
      placeholder="Introduce una descripción para tu requisito"></textarea>
    </div>
  </div>
</div>

<div class="wizard-input-section">
  <div class="form-group">
    <div class="col-sm-6">
      <label for="requirementKeywords">Palabras Clave</label>
      <textarea class="form-control" rows="3" id="requirementKeywords" name="requirementKeywords"
      placeholder="Introduce palabras clave separadas por coma (,)"></textarea>
    </div>
  </div>
</div>
