{% extends "requirement_form_base.html" %}

{% block form_requirement %}

	<div class="container">
		<div class="row">
	    	<div class="col-md-6">
				<table class="table table-bordered table-striped">
				    <thead>
				        <tr>
				            <th>Salida</th>
				            <th>Valor</th>
				        </tr>
				    </thead>
				    <tbody>
				        <tr>
				            <td>Rocky</td>
				            <td>Balboa</td>
				        </tr>
				        <tr>
				            <td>Peter</td>
				            <td>Parker</td>
				        </tr>
				        <tr>
				            <td>John</td>
				            <td>Rambo</td>
				            
				        </tr>
				    </tbody>
				</table>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6">
			    <table class="table table-bordered table-striped">
				    <thead>
				        <tr>
				            <th>Salida</th>
				            <th>Valor</th>
				        </tr>
				    </thead>
				    <tbody>
				        <tr>
				            <td>Rocky</td>
				            <td>Balboa</td>
				        </tr>
				        <tr>
				            <td>Peter</td>
				            <td>Parker</td>
				        </tr>
				        <tr>
				            <td>John</td>
				            <td>Rambo</td>
				            
				        </tr>
				    </tbody>
				</table>
			</div>
		</div>
	</div>
{% endblock %}