{% extends "shared/base_generic.html" %}
{% load crispy_forms_tags %}
{% block title_section %}
	<h1>Requisitos</h1>
{%endblock%}
{% block section_option %}
	<div>
		<a href="new_requirement"> <input type="button" name="new_requirement" class="btn btn-default" value="Registrar requisito" /> </a> 
	</div>
{%endblock%}
{% block content %}
<form method="get" action="." class="form-horizontal" role="form">

      	{{ form|crispy }}
      	<div class="form-actions">
      	</div>
      	
      	
				        
</form>
<div class="margin-containers">
{% if query %}
		<table class="table table-bordered table-hover">
			<th>Requisitos</th>
			<th>Estado</th>
			{% include 'requirements/_requirement_result.html'%}	
        </table>
        {% if page.has_previous or page.has_next %}
            <div>
                {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                |
                {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
            </div>
        {% endif %}
{% else %}
    {# Show some example queries to run, maybe query syntax, something else? #}
{% endif %}
</div>
{% endblock %}