<form method="get" action="projects" class="form-horizontal" role="form" id="searchTestCasesForm">
	<div class="col-md-4 col-md-offset-4">
		{% csrf_token %}
		<input type="hidden" name="csrfmiddlewaretoken" value="iXZ2Gxfo4dWmwnH1cNPc3hmqPggZyLg9">
		<div  class="form-group">
			<div class="controls ">
				<input class="textinput textInput form-control" id="q" maxlength="255" name="q" type="text"> 
			</div>
		</div>
		
    </div>
    {% include "_testcase_search_form_advanced.html" %}
   	<div class="form-actions">
        <button type="submit" class="btn btn-primary" id="search-test-cases-btn">
        	 <span class="glyphicon glyphicon-search"></span>
        </button>
    </div>
</form>
