{% extends "shared/base_generic.html" %}
{% load static %}
{% block javascript %}
	<script src="{% static 'testcases/js/tc_search.js' %}" type="text/javascript"></script>
{% endblock %}
{% block section_statistics %}
	{% csrf_token %}
{% endblock %}
{% block content %}

<div class="title-module">
	Casos de prueba
</div>
{% include "_testcase_search_form.html" %}
<div id="messages" class="div-hidden">
</div>

<table class="table table-bordered table-hover" id="test-cases-tbl">
	{% include "_testcase_result.html" %}
</table>


{% endblock %}