{% load static %}
{% block javascript %}
<script src="{% static 'testcases/js/tc_input_params.js' %}"></script>
{% endblock %}

<div class="container">
		<div class="row">
	    	<div class="col-md-9">
		    	<form id="input-params-form" role="form">
					<table id="tableInputParams" class="table table-bordered table-striped">
					    <thead>
					        <tr>
					        	<th></th>
					            <th>Campo</th>
					            <th>Descripci&#243n</th>
					            <th>Tipo de dato</th>
					        </tr>
					    </thead>
					    <tbody id="table_input_params_body">
					    {% for input in input_associated_list %}
							<tr>
								<td><input type='checkbox' name='input_params_checkbox' value=''></td>
					            <td><input type='text' name='input_params_name' maxlength='255' value='{{ input.name }}' required></input></td>
					            <td><input type='text' name='input_params_description' value='{{ input.description }}' maxlength='255' required></input></td>
					            <td>
					            	<select class="form-control"
										id="input_params_datatype" name='input_params_datatype_{{forloop.counter}}'>
										<option>Seleccione tipo de dato</option> 
										{% for dt_type in dt_type_list %}
											{% if dt_type.type_id == input.data_type_id %}
												<option value='{{ dt_type.type_id }}' selected>{{ dt_type.name }}</option> 
											{% else %}
												<option value='{{ dt_type.type_id }}'>{{ dt_type.name }}</option> 
											{% endif %} 
										{% endfor %}
									</select>
					            </td>
					        </tr>
						{% endfor %}
					    </tbody>
					</table>
				</form>
			</div>
			<div class="col-md-3">
				<div>
					<button id="addRowInput" class="btn btn-default" type="button">Agregar</button>
				</div>
				<div>
					<button id="deleteRowInput" class="btn btn-default" type="button">Eliminar</button>
				</div>
			</div>
		</div>
	</div>

